
/**
*
{
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
}

*/

h1
{
	color: #F39C12;
	font-size: 30px;
	font-family: 'Roboto';
}

a
{
	color: #F39C12;
	text-decoration: none;
}

.titulo
{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 80px;
}

.suscripcion
{
	margin-top: 20px;
	font-size: 18px;
}

.titulo p
{
	font-size: 22px;
	margin-top: 20px;
	font-family: 'lustria', serif;
	color: #999;
}

input[type="text"]{
	height: 40px;
	width: 32%;
	border-radius: 4px;
	border: solid 1px #f2f2f2;
	padding-left: 10px;
	outline: 0;
}

img.calendario
{
	width: 17px;
	height: 15px;
	background: url("../images/sprite_tf.png")  0px -348px;
}

img.comentarios
{
	width: 20px;
	height: 16px;
	background: url("../images/sprite_tf.png") -17px -348px;
}

.buttonsend
{
	background: #F39C12;
	padding: 10px 13px 10px 13px;
	border-radius: 5px;
	color: #fff;
	margin-left: 5px;
	font-family: 'roboto';
	font-size: 14px;
}

.buttondefault
{
	background: #D8D8D8;
	padding: 10px 13px 10px 13px;
	border-radius: 4px;
	color: #746C6C;
	margin-left: 5px;
	font-family: 'roboto';
	font-size: 14px;
}

.buttonsend:hover
{
	background: #F6BA63;
}

.buttondefault:hover
{
	background: #F3F3F3;
}

.post
{
	border-width: 1px;
	border-color: #C5C4C4;
	border-style: solid;
	margin: 20px 20px 40px 0;
	padding-bottom: 25px;
}

.titleimage
{
	width: 100%;
}


.contenidopost
{
	padding: 20px 20px 5px 20px;
}

.contenidopost h3
{
	font-size: 22px;
	margin-bottom: px;
	font-family: 'Roboto';
	font-weight: bold;

}

.contenidopost p
{
	font-family: 'lustria', sans-serif;
	color: #929292;
	font-size: 14px;
	font-weight: normal;
}

.contenidopost span
{
	color: #F39C12;
}


.bottompost
{
	margin-bottom: 20px;
}


.bottompost ul {
	list-style: none;
	float: left;
	margin:0;
	font-family: 'roboto';
	font-weight: regular;
	color: #929292;
	margin-left: 20px;
	font-size: 14px;
}

.bottompost li
{	
	float: left;
	vertical-align: middle;
	text-align: center;
	margin: 5px;
	display: inline;
}

.paginacion
{
	text-align: center;
	margin-bottom: 80px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Roboto', sans-serif;
}
