header
{
	background: #f3f3f3;
	border-bottom: 1px solid #999;
}
header h1.logo
{
	float: left;
	margin-top: 25px;
	margin-bottom: 16px;
}
header h1.logo span
{
	display: none;
}
header nav
{
	float: right;
}
header nav a
{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #004444
}
header nav ul li
{
	display: inline-block;
	margin: 35px 15px 0;
}
header nav ul li nav
{
	display: none;
}